/* .Sindo {
    font-size: 30px;
    color:black;
    width: 180px;
    height: 180px;
    background: #c91616;
    display: flex;
    justify-content: center;
    align-items: center;
} */

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');
/* 한국어 폰트
font-family: 'Gothic A1', sans-serif;
일본어 폰트
font-family: 'M PLUS Rounded 1c', sans-serif; */


body {
    background: #05001f;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.EEWi {
    /* margin-top: 25px;
    margin-left: 25px; */
    font-size: 20px;
    color:rgb(255, 255, 255);
    width: 650px;
    height: 40px;
    background: #be0000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SindoT {
    /* margin-left: 25px; */
    font-size: 30px;
    color:rgb(255, 255, 255);
    width: 150px;
    height: 130px;
    background: #FF7300;
    display: flex;
    justify-content: center;    
    align-items: center;
    float: left;
    vertical-align: top;
}

.MAGbox {
    font-size: 30px;
    color:rgb(255, 255, 255);
    width: 500px;
    height: 130px;
    background: #F02727;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* dbox {
    font-size: 20px;
    color:rgb(255, 255, 255);
    width: 650px;
    height: 40px;
    background: #020064;
    display: flex;
    justify-content: center;
    align-items: center;
} */