/* .Sindo {
    font-size: 30px;
    color:black;
    width: 180px;
    height: 180px;
    background: #c91616;
    display: flex;
    justify-content: center;
    align-items: center;
} */

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');
/* 한국어 폰트
font-family: 'Gothic A1', sans-serif;
일본어 폰트
font-family: 'M PLUS Rounded 1c', sans-serif; */


body {
    background: #07002c;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.Sindo{
    float: left;
}

.SindoT {
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: 25px;
    font-size: 30px;
    color:rgb(255, 255, 255);
    width: 150px;
    height: 150px;
    background: #f10d0d;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.MEbox {
    margin-top: 25px;
    font-size: 30px;
    color:rgb(255, 255, 255);
    width: 500px;
    height: 110px;
    background: #0111a0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.EEWi {
    font-size: 20px;
    color:rgb(255, 255, 255);
    width: 500px;
    height: 40px;
    background: #da0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
}